@{
    ViewBag.Title = "Index";
}

@section Styles
{
    <link href="~/Content/app/main.css" rel="stylesheet" />
}

<div class="main-body" ng-app="myApp" ng-controller="CountryController">
    <div class="jumbotron jumbotron-main">
        <div class="container">
            <h2 ng-bind="title"></h2>
        </div>
    </div>
    <div class="page-header">
        <h3 ng-bind="header"></h3>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Filters:
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group col-lg-12">
                    <div class="col-lg-2 text-left">
                        <label class="control-label" for="searchTextbox">Search:</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="searchTextbox" ng-model="query" placeholder="Enter A Name" />
                    </div>
                    <div class="col-lg-6 text-left">
                        <label class="control-label" ng-bind-template="Searching for: {{ query }}"></label>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group col-lg-12">
                    <div class="col-lg-2 text-left">
                        <label class="control-label">Sort By:</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" ng-model="orderProp">
                            <option value="">Select Column</option>
                            <option value="CountryName">Name</option>
                            <option value="CountryCode">Code</option>
                            <option value="ISO3Code">ISO3 Code</option>
                        </select>
                    </div>
                    <div class="col-lg-6 text-left">
                        <label class="control-label" ng-bind-template="Order By: {{ orderProp }}"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table-striped text-left col-lg-12">
            <thead>
                <tr>
                    <th class="col-lg-4">Country Name
                    </th>
                    <th class="col-lg-3">Country Code
                    </th>
                    <th class="col-lg-2">Country ISO3 Code
                    </th>
                    <th class="col-lg-2">Edit
                    </th>
                    <th class="col-lg-2">Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in countries | filter:query | orderBy: orderProp">
                    <td ng-bind-template="{{ country.CountryName }}"></td>
                    <td ng-bind-template="{{ country.CountryCode }}"></td>
                    <td ng-bind-template="{{ country.ISO3Code }}"></td>
                    <td><a role="button" class="btn btn-primay">Edit</a></td>
                    <td><a role="button" class="btn btn-primay">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Javascripts
{
    <script src="~/Scripts/app/app.js"></script>
}

